* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Gotham, "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 1.3em;
    font-size: 1em;
    background: #0067af url(../img/fondo.jpg) top repeat-x;
}

.container {
    width: 80%;
    max-width: 1000px;
    background: #fff;
    margin: 20px auto;
    border-radius: 2%;
}

.encabezado {
    width: 100%;
    float: left;
}

.logo {
    margin-left: 20px;
    float: left;
}

.encabezado h1 {
    float: right;
    font-size: 1.3em;
    margin: 110px 50px 0 0;
}


/*  Menú    */

.navegacion {
    width: 100%;
    clear: both;
    padding: 10px 0;
    margin-bottom: 50px;
}

.menu {
    width: 100%;
    list-style: none;
}

.menu li {
    text-align: center;
    width: 25%;
    float: left;
    background: #c2b114;
    padding: 10px 0;
    border-right: #fff solid;
    box-sizing: border-box;
}

.menu a:link,
.menu a:visited {
    color: #fff;
    text-decoration: none;
    display: block;
}

.menu li:hover,
li.actual {
    background: #6b5808;
}

li:last-child {
    border-right: none;
}


/*  submenu     */

.submenu {
    width: 250px;
    margin-top: 11px;
    position: absolute;
    background: #fff;
    display: none;
}

.submenu li {
    width: 100%;
    border-bottom: 1px solid #fff;
    background: #a17d17;
}

li:hover>ul {
    display: block;
}

.columna {
    width: 30%;
    float: right;
    margin: 20px 0 0 20px;
}

.columna article {
    width: 50%;
    margin-bottom: 50px;
    border-bottom: dotted 1px #5e5c5c;
    padding-bottom: 20px;
}

.seccion {
    padding: 20px;
}

.seccion h2 {
    font-size: 1.em;
    margin-bottom: 1em;
}

.seccion p {
    line-height: 1.5em;
}

.ofertas {
    width: 250px;
}

.piePag {
    width: 100%;
    clear: both;
    text-align: center;
    padding-bottom: 20px;
}

.piePag p {
    font-size: 0.7em;
    color: #645f69;
}