* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Gotham, "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 1.3em;
    font-size: 1em;
    background: #0067af url(../img/fondo.jpg) top repeat-x;
}

.container {
    width: 80%;
    max-width: 1000px;
    background: #fff;
    margin: 20px auto;
    border-radius: 2%;
}

.encabezado {
    width: 100%;
    float: left;
}

.logo {
    margin-left: 20px;
    float: left;
}

.encabezado h1 {
    float: right;
    font-size: 1.3em;
    margin: 110px 50px 0 0;
}

.navegacion {
    width: 100%;
    clear: both;
    padding: 10px;
}

.menu {
    width: 100%;
    list-style: none;
    margin-bottom: 30px;
}

.menu li {
    text-align: center;
    width: 25%;
    float: left;
}

.columna {
    width: 30%;
    float: right;
    margin: 20px 0 0 20px;
    /*margin-left: 20px;
    margin-top: 20px;*/
}

.columna article {
    width: 50%;
    margin-bottom: 50px;
    border-bottom: dotted 1px #5e5c5c;
    padding-bottom: 20px;
}

.seccion {
    padding: 20px;
}

.seccion h2 {
    font-size: 1.em;
    margin-bottom: 1em;
}

.seccion p {
    line-height: 1.5em;
}

.ofertas {
    width: 250px;
}

.piePag {
    width: 100%;
    clear: both;
    text-align: center;
    padding-bottom: 20px;
}

.piePag p {
    font-size: 0.7em;
    color: #645f69;
}